.body{
  font-family: Arial, Helvetica, sans-serif;
}

.tablink:hover {
  background-color: #82a6bd;
}


 /* Add your styles here */
 .toggle-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.5s;
}

.toggle-switch-slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.toggle-switch input:checked + .toggle-switch-slider {
  background-color: #2196f3;
}

.toggle-switch input:focus + .toggle-switch-slider {
  box-shadow: 0 0 1px #2196f3;
}

.toggle-switch input:checked + .toggle-switch-slider:before {
  transform: translateX(20px); /* Adjust the translation */
}

.select-options{
  border:1px #1e3d52;
  padding: 10px 20px;
  border-radius:5px;
}

.select-options:focus{
  outline:#1e3d52;
}

.select-input {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #1e3d52;
	background:#a0bfd46a ;
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #1e3d52;
}


